In [1]:
import pandas as pd
import numpy as np
import requests
import time
import googlemaps
from tqdm.notebook import tqdm

In [2]:
files = [
    "NGER.ID0075.csv", "NGER.ID0076.csv", "NGER.ID0077.csv",
    "NGER.ID0078.csv", "NGER.ID0079.csv", "NGER.ID0080.csv",
    "NGER.ID0081.csv", "NGER.ID0082.csv", "NGER.ID0083.csv",
    "NGER.ID0243.csv"
]

# standardize columns
ref = pd.read_csv("NGER.ID0243.csv")
standard_cols = ref.columns.tolist()
print("standard columns：", standard_cols)

dfs = []

for fname in files:
    df = pd.read_csv(fname)

    # normalize field names
    rename_map = {}
    for c in df.columns:
        c_clean = c.strip().lower().replace(" ", "_")
        for std in standard_cols:
            std_clean = std.strip().lower().replace(" ", "_")
            if c_clean == std_clean:
                rename_map[c] = std
    df = df.rename(columns = rename_map)

    # fill in missing fields
    for col in standard_cols:
        if col not in df.columns:
            df[col] = pd.NA

    # keep standard columns only
    df = df[standard_cols]

    dfs.append(df)

# vertical merge
NGER = pd.concat(dfs, ignore_index=True, sort=False)
print("combined size：", NGER.shape)

standard columns： ['Reporting entity', 'Facility name', 'Type', 'State', 'Electricity production GJ', 'Electricity production MWh', 'Total scope 1 emissions t CO2 e', 'Total scope 2 emissions t CO2 e', 'Total emissions t CO2 e', 'Emission intensity t CO2 e MWh', 'Grid connected', 'Grid', 'Primary fuel', 'Important notes']
combined size： (5942, 14)

/var/folders/tf/935j0m9132x55ljhbwfzcrq80000gn/T/ipykernel_66633/1153108482.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  NGER = pd.concat(dfs, ignore_index=True, sort=False)

In [3]:
# drop unnecessary row
NGER = NGER[NGER["Facility name"] != "Corporate Total"]
NGER = NGER.drop(NGER[NGER["Type"].isna()].index)
NGER = NGER.drop(NGER[NGER["Type"] == "-"].index)
NGER = NGER.drop(NGER[NGER["Electricity production GJ"].isna()].index)

In [4]:
# handle missing value in CO2 Emissions by median
for col in ["Total scope 1 emissions t CO2 e", "Total scope 2 emissions t CO2 e"]:
    NGER[col] = NGER[col].fillna(NGER[col].median())

In [5]:
# Calculate Emission Intensity
mask = NGER["Emission intensity t CO2 e MWh"].isna() & \
       (NGER["Electricity production MWh"] > 0)
NGER.loc[mask, "Emission intensity t CO2 e MWh"] = (
    NGER.loc[mask, "Total emissions t CO2 e"] /
    NGER.loc[mask, "Electricity production MWh"]
)

In [6]:
# handle Grid column
NGER["Grid connected"] = NGER["Grid connected"].fillna("Off").replace("-", "Off")
NGER["Grid"] = NGER["Grid"].fillna("Off-grid").replace("-", "Off-grid")

In [7]:
# drop unecessary column
NGER = NGER.drop(columns=["Important notes"], errors="ignore")

In [8]:
# type transform
cat_cols = ['Reporting entity','Facility name','Type','State',
            'Grid connected','Grid','Primary fuel']
for col in cat_cols:
    NGER[col] = NGER[col].astype('category')

In [9]:
print(NGER.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4877 entries, 0 to 5940
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Reporting entity                 4476 non-null   category
 1   Facility name                    4877 non-null   category
 2   Type                             4877 non-null   category
 3   State                            4877 non-null   category
 4   Electricity production GJ        4877 non-null   float64
 5   Electricity production MWh       4877 non-null   float64
 6   Total scope 1 emissions t CO2 e  4877 non-null   float64
 7   Total scope 2 emissions t CO2 e  4877 non-null   float64
 8   Total emissions t CO2 e          4877 non-null   int64
 9   Emission intensity t CO2 e MWh   4877 non-null   float64
 10  Grid connected                   4877 non-null   category
 11  Grid                             4877 non-null   category
 12  Primary fuel                     4877 non-null   category
dtypes: category(7), float64(5), int64(1)
memory usage: 360.6 KB
None

In [10]:
NGER.nunique()

Reporting entity                    314
Facility name                       853
Type                                  2
State                                 8
Electricity production GJ          4699
Electricity production MWh         4519
Total scope 1 emissions t CO2 e    2543
Total scope 2 emissions t CO2 e    1156
Total emissions t CO2 e            3003
Emission intensity t CO2 e MWh     1272
Grid connected                        2
Grid                                  6
Primary fuel                         22
dtype: int64

In [11]:
ac = pd.read_csv("power-stations-and-projects-accredited.csv")
cm = pd.read_csv("power-stations-and-projects-committed.csv")
pr = pd.read_csv("power-stations-and-projects-probable.csv")

In [12]:
print("accredited columns:", ac.columns.tolist())
print("committed  columns:", cm.columns.tolist())
print("probable   columns:", pr.columns.tolist())

accredited columns: ['Accreditation code', 'Power station name', 'State', 'Postcode', 'Installed capacity (MW)', 'Fuel Source (s)', 'Accreditation start date', 'Approval date']
committed  columns: ['Project Name', 'State ', 'MW Capacity', 'Fuel Source', 'Committed Date (Month/Year)']
probable   columns: ['Project Name', 'State ', 'MW Capacity', 'Fuel Source']

In [40]:
# standardize column names
ac_core = ac.rename(columns={
    "Power station name": "Project Name",
    "Installed capacity (MW)": "MW Capacity",
    "Fuel Source (s)": "Fuel Source",
    "State": "State"
})[["Project Name","State","MW Capacity","Fuel Source"]]

cm_core = cm.rename(columns={"State ": "State"})[["Project Name","State","MW Capacity","Fuel Source"]]
pr_core = pr.rename(columns={"State ": "State"})[["Project Name","State","MW Capacity","Fuel Source"]]

# add status column
ac_core["status"] = "accredited"
cm_core["status"] = "committed"
pr_core["status"] = "probable"

# combined
core_summary = pd.concat([ac_core, cm_core, pr_core], ignore_index=True)

# remove space
core_summary = core_summary.apply(lambda x: x.str.strip() if x.dtype=="object" else x)

# Project Name standardize
core_summary["Project Name"] = (
    core_summary["Project Name"]
    .str.split("-").str[0]
    .str.strip()
)

print("core_summary shape:", core_summary.shape)
print(core_summary.head())

core_summary shape: (365, 5)
                      Project Name State  MW Capacity Fuel Source      status
0     Laura Johnson Home, Townview   QLD       0.2265       Solar  accredited
1                       Leppington   NSW       0.7320       Solar  accredited
2  Quakers Hillside Care Community   NSW       0.1996       Solar  accredited
3                    Rest Nominees   VIC       0.1188       Solar  accredited
4          Retail First Mt Ommaney   QLD       1.0004       Solar  accredited

In [42]:
renewable_accredited_detail = ac.copy()
renewable_committed_detail  = cm.copy()
renewable_probable_detail   = pr.copy()

core_summary.to_csv("core_summary.csv", index=False)
renewable_accredited_detail.to_csv("accredited_detail.csv", index=False)
renewable_committed_detail.to_csv("committed_detail.csv", index=False)
renewable_probable_detail.to_csv("probable_detail.csv", index=False)

In [15]:
print(core_summary.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Project Name  365 non-null    object
 1   State         365 non-null    object
 2   MW Capacity   365 non-null    float64
 3   Fuel Source   365 non-null    object
 4   status        365 non-null    object
dtypes: float64(1), object(4)
memory usage: 14.4+ KB
None

In [16]:
# data augmentation
gmaps = googlemaps.Client(key="AIzaSyAl7LWzK05ZLBkzDAyonAj5OSew3IwV_1E")

def get_coordinates_google(address):
    try:
        geocode_result = gmaps.geocode(address)
        if geocode_result:
            location = geocode_result[0]['geometry']['location']
            return location['lat'], location['lng']
    except Exception as e:
        print(f"Error on {address}: {e}")
    return None, None

In [17]:
sample = core_summary.head(10)

for i, row in sample.iterrows():
    addr = f"{row['Project Name']}, {row['State']}, Australia"
    lat, lon = get_coordinates_google(addr)
    print(f"{i}: {addr} -> ({lat}, {lon})")
    time.sleep(0.5)

0: Laura Johnson Home, Townview, QLD, Australia -> (-20.7342326, 139.5034862)
1: Leppington, NSW, Australia -> (-33.9773022, 150.7834354)
2: Quakers Hillside Care Community, NSW, Australia -> (-33.719511, 150.891607)
3: Rest Nominees, VIC, Australia -> (-36.9847807, 143.3906074)
4: Retail First Mt Ommaney, QLD, Australia -> (-27.4852123, 152.9924062)
5: Woolworths HCFDC Heathwood, QLD, Australia -> (-27.6348312, 152.9917087)
6: Woolworths Kings Meadow 7210, TAS, Australia -> (-41.464775, 147.1601562)
7: CLAYTON CHURCH HOMES INC, SA, Australia -> (-30.0002315, 136.2091547)
8: Dalwood Children's Home, NSW, Australia -> (-32.6274801, 151.4200826)
9: Haighs Proprietary Limited, SA, Australia -> (-30.0002315, 136.2091547)

In [36]:
latitudes = []
longitudes = []

for addr in tqdm(core_summary["Project Name"] + ", " + core_summary["State"] + ", Australia",
                 desc="Google Geocoding", unit="site"):
    lat, lon = get_coordinates_google(addr)
    latitudes.append(lat)
    longitudes.append(lon)
    time.sleep(0.2)

core_summary["latitude"] = latitudes
core_summary["longitude"] = longitudes

Google Geocoding:   0%|          | 0/365 [00:00<?, ?site/s]

In [38]:
print((core_summary["latitude"].notna().mean()*100).round(2), "% success rate")
core_summary.to_csv("core_summary_with_google_coords.csv", index=False)

100.0 % success rate